[Unit]
Description=Install the latest SSL certificate
Before=nginx.service

[Service]
EnvironmentFile=/etc/manage-ssl-cert
Type=oneshot
ExecStart=/bin/sh -c 'while ! /usr/sbin/manage-ssl-cert; do sleep 10; done'
TimeoutStartSec=300
RemainAfterExit=no

[Install]
WantedBy=multi-user.target nginx.service
